#tellevo {
    background-color: white;
  }
  
  #detalle {
    background-color: #012c56;
    border-radius: 1%;
    padding: 10px;
    margin: 5px;
  }
  
  #detalle img {
    padding-top: 10px;
    border-radius: 1%;
  }