<!-- CONTENT -->
<ion-content>

  <div id="tellevo">
    <img src="../assets/img/TeLlevo.png" alt="Viaje">
  </div>

  <div id="inicio">
    <ion-button (click)="salir()" color="warning" size="small">
      Cerrar Sesión
    </ion-button>

    <ion-card class="card">
      <strong id="nombre">Bienvenido<br>{{nombre}}</strong>
      <br>
      <small>El día de hoy es:</small>
      <p id="fecha">{{fecha}}</p>
    </ion-card>
    <br>

    <strong>¡Planifica tu viaje siendo pasajero con tus compañeros!</strong>
    <br>
    <p>¡Ve quién de tus compañeros está cerca de tí y organiza tu próximo viaje junto a ellos!.</p>
    <ion-button [routerLink]="['/plan']" expand="block">Organiza tu Viaje</ion-button>
    <img src="../assets/img/A.jpg" alt="">
  </div>

</ion-content>
<!-- CONTENT -->