<!-- HEADER -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" scrollable value="pasajero">
      <ion-segment-button value="pasajero">
        <ion-label>Pasajero</ion-label>
      </ion-segment-button>

      <ion-segment-button value="conductor">
        <ion-label>Conductor</ion-label>
      </ion-segment-button>

      <ion-segment-button value="mapa">
        <ion-label>Mapa</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<!-- FIN DE HEADER -->

<!-- CONTENT Transladado a PASAJERO.HTML @@@@
<ion-content>

  <div id="tellevo">
    <img src="../assets/img/TeLlevo.png" alt="Viaje">
  </div>

  <div id="inicio">
    <ion-button (click)="salir()" color="warning">
      Salir
    </ion-button>
    <br>

    <strong id="nombre">Bienvenido <br>{{nombre}}</strong>
    <br>

    <small>El día de hoy es:</small>
    <p id="fecha">{{fecha}}</p>
    <br>

    <strong>¡Planifica tu viaje con alguién más!</strong>
    <br>
    <p>¡Ve quién está cerca de tí y organiza tu próximo viaje! </p>
    <ion-button [routerLink]="['/plan']" expand="block">Organiza tu Viaje</ion-button>
    <br>
    <strong>Ve los Detalles de tu Viaje Seleccionado</strong>
    <br>
    <p>Aquí puedes ver los detalles como los pasajeros, choferes, o la tarifa de tu viaje.</p>
    <ion-button [routerLink]="['/detalle']" expand="block">Ver Detalles del Viaje</ion-button>
    <br>
    <strong>Ver la Ruta del Viaje</strong>
    <br>
    <p>Aquí puedes revisar la ruta del destino y donde está el transporte de tu viaje.</p>
    <ion-button [routerLink]="['/mapa']" expand="block">Observar Ruta del Destino</ion-button>
    <br>
    <img src="../assets/img/Student.jpg" alt="Estudiantes">
  </div>

</ion-content>
@@@@ CONTENT -->

<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>