<!-- HEADER -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" scrollable value="pasajero">
      <ion-segment-button value="pasajero">
        <ion-label>Pasajero</ion-label>
      </ion-segment-button>

      <ion-segment-button value="conductor">
        <ion-label>Conductor</ion-label>
      </ion-segment-button>

      <ion-segment-button value="mapa">
        <ion-label>Mapa</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<!-- FIN DE HEADER -->

<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>