#tellevo {
  margin-top: 5px;
  background-color: white;
}

#container {
  background-color: #012c56;
  border-radius: 1%;
  padding: 10px;
  margin: 5px;

  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#formularioR ion-card-title {
  color: #ffb71b;
  font-size: large;
}